* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background: linear-gradient(45deg, #190f2c, #200b30);
    padding: 15px;
    /* position: relative; */
}

.grid-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;

    >div {
        display: flex;
        justify-content: center;
        align-items: center;


        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }

        &:nth-of-type(2) {
            grid-column: span 2;
            grid-row: span 2;
        }

        &:nth-of-type(7) {
            grid-column: span 2;
        }

        &:nth-of-type(10) {
            grid-row: span 2;
        }

        &:nth-of-type(12) {
            grid-row: span 2;
            grid-column: span 2;
        }

        &:nth-of-type(15) {
            grid-column: span 2;
        }
    }
}


/* info hosein */

.hosein {
    position: fixed;
    bottom: 0px;
    right: 10px;
    border-radius: 50%;

    .circle {
        width: 180px;
        height: 180px;
        transition: .7s;

        &::before,
        &::after {
            content: '';
            width: 175px;
            height: 175px;
            position: absolute;
            top: -5px;
            left: -5px;
            transition: .7s;
            rotate: 10deg;
        }

        &::before {
            background-color: #965124;
            border-radius: 30% 70% 35% 65% / 30% 36% 64% 70%;
            z-index: -998;
        }

        &::after {
            background-color: #5f6166;
            border-radius: 64% 36% 61% 39% / 43% 36% 64% 57%;
            z-index: -999;
        }

        >img {
            width: 165px;
            height: 165px;
            border-radius: 50%;
            object-fit: cover;
            object-position: bottom;
        }

    }

    &:hover {
        >a {
            >i {
                color: #965124;
                /* opacity: 1; */
                visibility: visible;
            }
        }

        .circle {

            &::before,
            &::after {
                rotate: 45deg;
            }
        }
    }

    >a {
        >i {
            font-size: 28px;
            color: #5f6166;
            transition: .7s;
            position: absolute;
            visibility: hidden;

            &:hover {
                color: #5f6166;
            }
        }

        &:nth-of-type(1) {
            >i {
                top: -5px;
                left: -30px;
            }
        }

        &:nth-of-type(2) {
            >i {
                top: 35px;
                left: -52px;
            }
        }

        &:nth-of-type(3) {
            >i {
                top: 85px;
                left: -52px;
            }
        }

        &:nth-of-type(4) {
            >i {
                top: 125px;
                left: -30px;
            }
        }
    }
}
